@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #108F6C;
  --color-secondary: #FEB10E;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #13b58b; 
  --color-primary-content: #ffffff;
  --color-secondary: #f9c74f;
  --color-base-200: #1e1e1e;
  --color-base-300: #2a2a2a;
  --color-accent: #a3a3a3;
}

*{
  font-family: "Poppins", sans-serif;
}

.navLinks{
    @apply flex items-center justify-center gap-0 text-primary font-medium p-2 hover:bg-primary hover:text-white
}

nav a.active{
    @apply bg-primary text-white
}

.margin-top {
  @apply mt-4 md:mt-8 lg:mt-12 xl:mt-16;
}
.margin-bottom {
  @apply mb-4 md:mb-8 lg:mb-12 xl:mb-16;
}
.margin-y {
  @apply my-4 md:my-8 lg:my-12 xl:my-16;
}

.headline {
  @apply text-2xl md:text-3xl text-primary lg:text-5xl pb-1 font-semibold text-center;
}

.footer-link {
  @apply hover:translate-x-2 text-accent transition-all duration-100 cursor-pointer;
}
.title-footer{
  @apply text-xl mb-2 font-semibold text-primary
}